.mobile-menu {
    transform: translateY(-1290px);
    transition: .5s;
    display: none;
}

.mobile-menu-active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transform: translate(0);
    transition: .5s;
    display: block;
}

.blackout {
    width: 100vw;
    height: 100vh;
    right: 520px;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
}

.mobile-menu__content {
    background-color: #fff;
    max-width: 520px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 159px 0 90px 0;
    box-sizing: border-box;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
}

.mobile-menu__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    max-width: 300px;
}

.mobile-menu__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.mobile-menu__link-active {
    border-bottom: 2px solid #000000;
    padding-bottom: 4px;
}

@media (max-width: 320px) {
    .mobile-menu__content {
        padding: 144px 0 46px 0;
    }
}