.movies {
    min-height: 100vh;
    position: relative;
}

.movies__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    max-width: 1140px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

.movies__more {
    padding: 11px 60px 9px 60px;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    width: 320px;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    transition: .5s;
}

.movies__more:hover {
    cursor: pointer;
    background-color: #a7a4a4;
}

@media (max-width: 768px) {
    .movies__container {
        max-width: 1140px;
        width: calc(100% - 60px);
        margin: 0 auto;
    }
}

@media (max-width: 380px) {
    .movies__more {
        width: 240px;
    }

    .movies__container {
        max-width: 300px;
        width: calc(100% - 20px);
        margin: 0 auto;
    }
}