.promo {
    background-color: #465DFF;
    padding: 124px 0 60px;
}

.promo__container {
    display: flex;
    flex-direction: column;
    gap: 102px;
}

.promo__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #fff;
    max-width: 626px;
}

.promo_img {
    background-image: url(../../images/banner_image.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 722px;
    height: 244px;
    align-self: flex-end;
}

@media (max-width: 864px) {
    .promo {
        padding: 374px 0 70px;
    }

    .promo__container {
        align-items: center;
        gap: 140px;
    }

    .promo__title {
        text-align: center;
        max-width: 680px;
    }

    .promo_img {
        width: 680px;
        height: 230px;
        align-self: center;
    }
}

@media (max-width: 680px) {
    .promo_img {
        background-size: cover;
        width: calc(100% + 60px);
    }
}

@media (max-width: 320px) {
    .promo {
        padding: 257px 0 40px;
    }

    .promo__container {
        gap: 60px;
    }

    .promo__title {
        max-width: 300px;
        font-size: 31px;
        line-height: 39px;
        letter-spacing: -0.05em;
    }

    .promo_img {
        width: calc(100% + 28px);
        height: 230px;
        align-self: center;
        background-size: cover;
    }
}