.movies-save {
    min-height: 100vh;
    position: relative;
}

.movies-save__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    max-width: 1140px;
    width: calc(100% - 60px);
    margin: 0 auto;
}

@media (max-width: 768px) {
    .movies-save__container {
        max-width: 1140px;
        width: calc(100% - 60px);
        margin: 0 auto;
    }
}

@media (max-width: 380px) {
    .movies-save__container {
        max-width: 300px;
        width: calc(100% - 20px);
        margin: 0 auto;
    }
}