.header {
    background-color: transparent;
    position: relative;
}

.header__main {
    background-color: #465DFF;
}

.header__container {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, 0);
    z-index: 1;
}

.header__logo-link {
    transition: .5s;
}
.header__logo-link:hover {
    cursor: pointer;
    opacity: .7;
}

.header__logo {
    background-image: url('../../images/header_logo.svg');
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
}

.header__links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__sign-up {
    text-decoration: none;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: .5s;
}

.header__sign-up:hover {
    cursor: pointer;
    opacity: .65;
}

.header__sign-in {
    text-decoration: none;
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    padding: 8px;
    width: 76px;
    background-color: #2BE080;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    transition: .5s;
}

.header__sign-in:hover {
    cursor: pointer;
    opacity: .65;
}

@media (max-width: 320px) {
    .header__links {
        gap: 14px;
    }

    .header__sign-up {
        font-size: 10px;
    }

    .header__sign-in {
        font-size: 10px;
        padding: 5px;
        width: 54px;
    }
}